@import "tailwindcss";
@plugin "tailwindcss-motion";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme{
  --font-Instrument-Serif: "Instrument Serif", serif;
  --font-Inter: "Inter", sans-serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0px;
  padding: 0px;
  transform: translateX();
}

@keyframes gap_animasi {
  from {
    transform: translateX(var(--x-from));
    opacity: 30%;
  }

  to {
    transform: translateX(var(--x-to));
    opacity: 60%;
  }
}

.lingkaran{
  animation: gap_animasi 700ms cubic-bezier(0.42, 0, 0.07, 1.02) forwards;
}